<h1 class="text-center">
  Manage Presentations
</h1>
</br>
<table class="table">
  <th>Presentation</th>
  <th>Bodypart</th>
  <th colspan="2">Actions</th>
  <% @presentations.each do |presentation| %>
    <tr>
      <td>
        <%= presentation.name %>
      </td>
      <td>
        <%= presentation.bodypart.name if presentation.bodypart.present? %>
      </td>
      <td>
        <%= link_to 'Edit', edit_presentation_url(presentation), class:"btn btn-warning" %>
      </td>
      <td>
        <%= link_to 'Delete', presentation, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>

<div class="home_link_list">
  <p>
    <%= link_to 'New Presentation', new_presentation_url %>
  </p>
</div>
