<h1 class="text-center">
  Manage Presentations
</h1>
</br>
<table class="table">
  <th>Presentation</th>
  <th>Bodypart</th>
  <th colspan="2"><Actions/th>
  <% @presentations.each do |p| %>
    <tr>
      <td>
        <%= p.name %>
      </td>
      <td>
        <%= p.bodypart_name %>
      </td>
      <td>
        <%= link_to 'Edit', edit_presentation_url(p), class:"btn btn-warning" %>
      </td>
      <td>
        <%= link_to 'Delete', p, method: :delete, class:"btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>

<div class="home_link_list">
  <p>
    <%= link_to 'New Presentation', new_presentation_url %>
  </p>
</div>
