<%= simple_form_for @survey_question do |f| %>
  <%= f.input :question %>
  <div class="form-group">
    <%= f.label :question_type %>
    <%= f.select :question_type, options_for_select(SurveyQuestion::QUESTION_TYPES, @survey_question.question_type), {}, {class: "select form-control #{@survey_question.new_record? ? 'survey_question_type' : '' }"}  %>
    <div id="<%= @survey_question.new_record? ? 'add_survey_question_choices' : @survey_question.question_type == 'Choices' ? '' : 'survey_question_choices_hide'  %>">
      <%= link_to "Add Choice", "javascript:void(0)", onclick: "add_fields()" %>
    </div>
    <div id="choices">
      <%  @survey_question.choices && @survey_question.choices.each do |choice| %>
        <div class="fields">
          <%= text_field_tag 'question_choices[]', choice , class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
	<%= f.input :language_id, collection: Language.all %>
  <%= f.input :mandatory %>
  <%= f.association :presentation %>
  <% unless @survey_question.new_record? %>
    <%= label_tag "Translate Question" if @survey_question.translates.present? %>
    <% index = 0 %>
	  <%= f.fields_for :translates do |translate_form| %>
	  <%= translate_form.input :question, label: "Translate in #{translate_form.object.language.name}" %>
    <% if translate_form.object.choices %>
      <div id="translate_choices">
        <%= link_to "Add Choice", "javascript:void(0)", onclick: "add_translate_fields(#{index})" %>
        <%  translate_form.object.choices.each do |choice| %>
          <div class="fields">
            <%= text_field_tag "translate_question_#{index}_choices[]", choice , class: "form-control" %>
          </div>
        <% end %>
      </div>
    <% end %>
	  <%= translate_form.input :language_id, as: :hidden, input_html: { value: translate_form.object.language_id} %>
    <%= translate_form.input :survey_question_id, as: :hidden, input_html: { value: translate_form.object.survey_question_id} %>
	  <hr/>
    <% index += 1 %>
	  <% end %>
  <% end %>
  <%= f.button :submit %>
<% end %>
