<h1 class="text-center">
  Patients
</h1>
<%= form_tag patients_path, method: :get, enforce_utf8: false do %>
  
  <div class="col-xs-12" style="padding-left:0; padding-right:0;">
    
      <label>Search by date</label>
    
  </div>
  
  <div class="input-append date datepicker col-sm-4" data-date="<%= params[:start_date] %>" data-date-format="yyyy-mm-dd">
    <%= text_field_tag :start_date, params[:start_date], readonly: true %>
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <div class="input-append date datepicker col-sm-4" data-date="<%= params[:end_date] %>" data-date-format="yyyy-mm-dd">
    <%= text_field_tag :end_date, params[:end_date], readonly: true %>
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <%= hidden_field_tag :search, true %>
  <% if params[:clinician_id].present? %>
    <%= hidden_field_tag :clinician_id, params[:clinician_id] %>
  <% end %>
  <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
<% end %>
<table class="table">
  <th>Clinician</th>
  <th>Patient Name</th>
  <th>Patient UserName</th>
  <th>Appointment Time</th>
  <th>Created At</th>
  <% @appointments.each do |appointment| %>
    <% patient = appointment.patient %>
    <tr>
      <td><%= appointment.user.name %></td>
      <td><%= patient.full_name %></td>
      <td><%= link_to patient.user_name, patient_answer_path(patient.user_name)%></td>
      <td><%= appointment.appointment_time.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d %l:%M %p") %> EST</td>
      <td><%= appointment.created_at.strftime("%Y-%m-%d") %></td>
    </tr>
  <% end %>
  <%= will_paginate @appointments %>
</table>

